.memberBody {
	float: right;	
	width: 740px;
	padding: 10px 20px 0px 20px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.memberLinks {
  float: left;
  padding: 10px 10px 10px 10px;
  width: 110px;
  background: #6ac857;
  overflow:auto;
}

.memberLinks ul {
  list-style: none;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  border: none;
}

.memberLinks li {
  font-size: 10pt;
  list-style: none;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  border: 0px;
}
